- var year = moment().format('YYYY');

div.footer
    div.container
        div.row
            div.col-md-12
                hr
                p.footer-text.copyright Copyright © #{year}, Foo, Inc. 保留一切權利。 #[a(href="#") 隱私權政策] | #[a(href="#") 使用條款]
