extends layout

block content
    div.hero
        div.container
            div.row
                div.col-md-12
                    h1 GivenEra is landed
            div.row
                div.col-md-6
                    h2 Helping others is a life style
                div.col-md-6
                    h4 Are you ready? We are going to share love to the world. Let's make the world better.