doctype html
html
    head
        title Foo
        meta(charset="utf-8")
        link(rel='stylesheet', href='/public/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/public/bower_components/fontawesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/public/css/overrides.css')
        link(rel='stylesheet', href='/public/css/global.css')
        link(rel='stylesheet', href='/public/css/modal.css')
        link(rel='stylesheet', href='/public/css/widgets.css')
        link(rel='stylesheet', href='/public/css/sidebar.css')
        link(rel='stylesheet', href='/public/css/smartadmin-production.min.css')
        link(rel='stylesheet', href='/public/css/app-single-post-view.css')
        link(rel='stylesheet', href='/public/css/app-posts-view.css')
        link(rel='stylesheet', href='/public/css/friend-view.css')

        script(data-main="public/js/main" src="public/bower_components/requirejs/require.js")
    body
        include components/header

        div#js-contentModalRegion
        div#js-overlayModalRegion

        include components/footer