.app-collection-post-text {
    margin: 10px;
}

.app-collection-post-container, .well {
    position: relative;
    background-color: #FBFBFB;
    border: 1px solid #DDDDDD;
    box-shadow: 0px 1px 1px #ECECEC;
}

.posts-grid {
    margin: 10px;
    width: 48%;
}

.expendLink:hover {
    cursor: pointer;
    color: #000066;
}

.expendLink {
    position: absolute;
    right: 20px;
    bottom: 0px;
    margin: 0px;
}

.img-posts {
    width: 100%;
    height: auto;
}